{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}

{% if alert %}
<p class="alert center">{{ alert }}</p>
{% endif %}

<h1>Register</h1>
<hr>
<div class="centering-container">
    <form action="/register" method="post">
        <div>
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
        </div>
        <br>
        <div>
            <input name="password" placeholder="Password" type="password">
        </div>
        <br>
        <div>
            <input name="confirmation" placeholder="Password" type="password">
        </div>
        <div class="centering-container">
            <input class="input-button" type="submit" value="Register">
        </div>
    </form>
</div>

{% endblock %}